* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    /* 取消下划线 */
    color: inherit;
    /* 继承父元素的颜色 */
    cursor: pointer;
    /* 添加指针样式，使其看起来可点击 */
}

/* logo */
.indexLogo {
    width: 99.5%;
    height: 35px;
    background-color: #F34E4E;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}

/* logo图片 */
.indexLogoImage {
    width: 3rem;
    display: flex;
}

.indexLogoImage img {
    align-items: center;
    /*取消后logo图片会占满整个div的高度*/
    margin: auto;
}

.indexTitle {
    width: 10rem;
    line-height: 35px;
    font-weight: 900;
    color: aliceblue;
}

/* 第二层 */
.indexSecondTotal {
    width: 99.5%;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

/* 左边导航栏 */
.leftNavTotal {
    text-align: center;
    width: 6rem;
    color: white;
    background-color: #353943;
    border-radius: 0px 0px 0px 10px;
}

/* 右边 */
.rightNavTotal {
    width: 93%;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.leftNavTotalUl li {
    height: 3rem;
    line-height: 3rem;
}

#discoloration {
    background-color: rgb(0, 0, 0);
}

.leftNavTotalUl li:hover {
    background-color: rgb(0, 0, 0);
}

/* 右边顶部导航栏 */
.rightTopNavTotal {
    width: 100%;
    height: 2.6rem;
    background-color: #191a1f;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}

.rightTopNavUl li {
    width: 4rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    margin-top: 0.6rem;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
}

.rightTopNavUl li:hover {
    font-size: 17px;
}

#rightTopNavUlLi {
    background-color: white;
    color: #000000;
}

.rightTopNavUl li:nth-child(1) {
    margin-left: 0.6rem;
}

/* 提示 */
.container {
    position: relative;
    /* 添加容器的样式和尺寸 */
    text-align: center;
    display: none;
}

.overlay {
    position: absolute;
    top: 5px;
    left: 47%;
    padding: 10px 15px 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    /* 遮罩层的颜色和透明度 */
    z-index: 1;
    /* 确保遮罩层在内容之上 */
    /* pointer-events: none; */
    /* 遮罩层不响应鼠标事件 */
    color: rgb(65, 235, 193);
    /* color: white; */
    border-radius: 5px;
}

/* 给遮罩层添加内容 */
.overlay::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /* 添加其他样式，例如文字、图标等 */
}

/* 遮罩 */
.overlay1 {
    width: 30%;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: white;
    border-radius: 5px;
    /* display: inline-block; */
    /* display: none; */
}

/* 编辑 */
.editTotal {
    width: 100%;
    margin: 5px;
    text-align: left;
}

.editTotalBtn {
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
}

.editTotalBtndelete {
    background-color: #F34E4E;
}

.editTotalText {
    display: inline-block;
}

/* 内容展示 */
.ContentDisplayTotal {
    text-align: center;
    padding: 10px;
}

.operatingButton {
    text-align: center;
    padding: 20PX;
}

[v-cloak] {
    display: none;
}